# macOS
.DS_Store

# Editor backup files
*~

# rst2html outputs
*.html

# Dart artifacts
.dart_tool/
.packages
build/
pubspec.lock

# VS Code artifacts
.vscode/
android/.classpath
android/.project
android/.settings/
example/android/.project
example/android/.settings/
example/android/app/.classpath
example/android/app/.project
example/android/app/.settings/
